Sign in
<%= form_with url: login_path do |form| %>
  <%= render partial: 'shared/alerts' %>
  <div class="">
    <label class="">Email</label>
    <div class="">
      <%= form.text_field :email %>
    </div>
  </div>
  <div class="">
    <label class="">Password</label>
    <div class="">
      <%= form.password_field :password %>
    </div>
  </div>
  <div class="">
    <%= form.submit 'Login', :class => ''%>
  </div>
<% end %>