Sign in
<%= form_with url: login_path do |form| %>
  <%= render partial: 'shared/alerts' %>
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :email %>
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <%= form.password_field :password %>
    </div>
  </div>
  <div class="control button is-info">
    <%= form.submit 'Login', :class => 'button is-info'%>
  </div>
<% end %>