<h1>New Registration</h1>
<%= form_with model: @user, url: register_path do |form| %>
  <%= render partial: 'shared/alerts' %>
  <div class="">
    <label class="">First Name</label>
    <div class="">
      <%= form.text_field :first_name %>
    </div>
  </div>
  <div class="">
    <label class="">Last Name</label>
    <div class="">
      <%= form.text_field :last_name %>
    </div>
  </div>
  <div class="">
    <label class="">Email</label>
    <div class="">
      <%= form.text_field :email %>
    </div>
  </div>
  <div class="">
    <label class="">Password</label>
    <div class="">
      <%= form.password_field :password %>
    </div>
  </div>
  <div class="">
    <label class="">Confirm Password</label>
    <div class="">
      <%= form.password_field :password_confirmation %>
    </div>
  </div>
  <div class="">
    <%= form.submit 'Register', :class => ''%>
  </div>
<% end %>