<h1>New Registration</h1>
<%= form_with model: @user, url: register_path do |form| %>
  <%= render partial: 'shared/alerts' %>
  <div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <%= form.text_field :first_name %>
    </div>
  </div>
  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <%= form.text_field :last_name %>
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :email %>
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <%= form.password_field :password %>
    </div>
  </div>
  <div class="field">
    <label class="label">Confirm Password</label>
    <div class="control">
      <%= form.password_field :password_confirmation %>
    </div>
  </div>
  <div class="control button is-info">
    <%= form.submit 'Register', :class => 'button is-info'%>
  </div>
<% end %>