Manage Users

<%= @users.inspect %>
<%= paginate @users %>

<%= form_with url: admin_users_path, method: :get do |form| %>
  <div class='is-flex'>
    <%= text_field_tag 'first_name', params[:first_name], placeholder: 'First Name', class: 'input is-small m-1' %>
    <%= text_field_tag 'last_name', params[:last_name], placeholder: 'Last Name', class: 'input is-small m-1'  %>
    <%= text_field_tag 'email', params[:email], placeholder: 'Email', class: 'input is-small m-1'  %>
    <%= form.submit 'Search', class: 'button is-info is-small m-1' %>
  </div>
<% end %>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td style='width:15%'>
          <span>
          <button class='button is-info is-small'>
            View
          </button>
          <button class='button is-info is-small'>
            Edit
          </button>
          <button class='button is-info is-small'>
            Delete
          </button>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>